body {
    font-family: "Roboto Slab" ,Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.header {
    background-color: #ff0015;
    color: #fff;
    text-align: center;
    height: 60px;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Roboto Slab", serif;
    font-size: 3em;
    top: 50%;

}

.menu-text{
    color: white;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    top: 50%;
}

.menu {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    left: 25%;
}

.section {
    width: 30%;
    padding: 5px;
    background-color: #ff0015;
    text-align: center;
    color: white;
    margin: 10px auto auto auto;
    font-size:2em;
    font-family: "Roboto Slab", serif;
}

.book {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.book p {
    margin: 0;
    padding: 0;
}

.bookName   {
    font-size: 20px;
    font-weight: bold;
    font-family: "Roboto Slab", serif;
    text-align: center;
    text-anchor: start;
}

.bookPrice {
    font-size: 16px;
    font-weight: bold;
    font-family: "Roboto Condensed", serif;
    text-align: left;
    text-anchor: start;
}

.bookGenre {
    font-size: 16px;
    font-style: italic;
    font-family: "Roboto Condensed", serif;
    text-align: left;
    text-anchor: start;

}

.bigButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.bigButton:hover {
    background-color: #45a049;
}

.sub-section {
    margin: 20px;
    padding: 10px;
    background-color: #fff;
}

.toOtherPage {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.form{
    margin: 20px;
    padding: 10px;
}

.info{
margin: 20px;
    padding: 10px;
    fond-weight: bold;
}