<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Book Store</title>
  <script>
    function addToCart(bookId) {
    fetch('/add-to-cart', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: 'bookId=' + bookId
    })
    .then(response => response.text())
    .then(data => console.log(data))
    .catch((error) => {
        console.error('Error:', error);
    });
}
  </script>
</head>
<body>
<h1 class="header">Book Store</h1>
<div class="menu">
  <a class="menu-text" href="/userpage">Userpage</a>
</div>
<div class="menu">
  <a class="menu-text" href="/checkout">Checkout</a>
</div>

<h2 class="section" >Book List - Test</h2>
<div class="book" th:each="book : ${books}">
  <p th:text="${book.bookName}"></p>
  <p th:text="${book.price}"></p>
  <p th:text="${book.genre}"></p>
  <button onclick="addToCart([[${book.id}]])">Add to cart</button>
</div>
<h2 class="section">Recommended Books</h2>
<div class="book" th:each="book : ${recommendedBooks}">
  <p th:text="${book.bookName}"></p>
</div>
<div>
  <a href="/checkout">Checkout</a>
</div>
</body>
</html>