<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <meta charset="UTF-8">
    <title>Userpage</title>
    <script>
        function addBallance(userId) {
            fetch('/add-balance', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: 'userId=' + userId
            })
                .then(response => response.text())
                .then(data => console.log(data))
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
        function usePoints(userId) {
            fetch('/use-points', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: 'userId=' + userId
            })
                .then(response => response.text())
                .then(data => console.log(data))
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    </script>
</head>
<body>
<h1 class="header">The Book Store</h1>
<div class="menu">
    <a class="menu-text" href="/"></a>
    <a class="menu-text" href="/userpage">Userpage</a>
    <a class="menu-text" href="/checkout">Checkout</a>
</div><div>
    <h2 class="section">The Userpage</h2>

    <h3 class="sub-section">Your info</h3>
    <p class="info" th:text="${userName}"></p>
    <p class="info" th:text="${points} +  points"></p>

    <h3 class="sub-section">Your ballance</h3>
    <p class="info" th:text="${ballance}"></p>
    <form class="form" th:action="@{/addBalance}" method="post">
        <label>
            <input type="number" name="money">
        </label>
        <input type="submit" value="Add money">
    </form>

    <h3 class="sub-section">Your points</h3>
    <p class="info" th:text="${points}"></p>
    <form class="form" th:action="@{/use-points}" method="post">
        <input type="number" name="points">
        <input type="submit" value="Use points">
    </form>
</div>

</body>
</html>