<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <title>Userpage</title>
</head>
<body>
<h1 class="section">Your Userpage</h1>
<div>
    <h2 class="sub-section">Your info</h2>
    <p th:text="${userName}"></p>
    <p th:text="${points}"></p>

    <h2 class="sub-section">Your ballance</h2>
    <p th:text="${ballance}"></p>
    <form th:action="@{/add-balance}" method="post">
        <label>
            <input type="number" name="money">
        </label>
        <input type="submit" value="Add money">
    </form>

    <h2 class="sub-section">Your points</h2>
    <p th:text="${points}"></p>
    <form th:action="@{/use-points}" method="post">
        <input type="number" name="points">
        <input type="submit" value="Use points">
    </form>
</div>

</body>
</html>